.add__title {
  font-weight: normal;
  .title(@title: @fz-subtitle, @lh: @lh-value);
  color: @title-dark;
}

.add__table {
  .ff-text();
  line-height: @lh-promo;
}

.add__table-title {
  .ff-reg();
  .link(@lh: @lh-small);
  color: @title-table;
  text-transform: uppercase;
}

.add__gift {
  margin-top: 40px;
}
