.advantages {
  width: @mobile-box;
  margin: 0 auto;
}

.advantages__list {
  margin: 0;
  padding: 30px 0 49px 80px;
  list-style: none;
}

.advantages__item {
  position: relative;
  margin-bottom: 26px;
  .ff-text();
  line-height: @lh-text;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-color: @bg-button;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--bio::before {
    background-image: url("../../img/advantage-leaf@1x.png");
  }

  &--easy::before {
    background-image: url("../../img/advantage-powder@1x.png");
  }

  &--food::before {
    background-image: url("../../img/advantage-dining@1x.png");
  }

  &--fast::before {
    background-image: url("../../img/advantage-clock@1x.png");
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    width: @tablet-box;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 74px 0 105px 1px;
    margin-bottom: 45px;
  }

  .advantages__item {
    width: 245px;
    margin-bottom: 135px;
    padding: 110px 100px 0 0;
    .text(@fz: 16px, @lh: 24px);

    &--last {
      margin-bottom: 0;
    }

    &:nth-child(2n) {
      padding-right: 79px;
    }

    &::before {
      top: -2px;
      left: 0;
      width: 80px;
      height: 80px;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: @desktop-box;
  }

  .advantages__list {
    margin-bottom: 130px;
    padding-bottom: 0;
  }

  .advantages__item {
    width: 245px;
    margin-bottom: 0;
    padding: 115px 0 0 0;

    &:nth-child(2n) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
