.advantages__list {
  margin: 0;
  padding: 40px 0 45px 80px;
  list-style: none;
}

.advantages__item {
  margin-bottom: 25px;
  .ff-text();
  line-height: @lh-text;

  &:last-child {
    margin-bottom: 0;
  }
}
