.append__more {
  margin-bottom: 25px;
}

.append__title {
  margin: 0;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 20px;
  color: @title-dark;
  text-transform: uppercase;
}

.append__text {
  display: block;
  margin-bottom: 22px;
  .ff-text();
  font-size: 12px;
  line-height: 16px;
}

.append__to-all {
  margin-bottom: 25px;
}
