.button {
  display: block;
  width: 280px;
  padding: 10px 0;
  .ff-reg();
  .link();
  color: @text-light;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: @bg-button;
  border: none;

  &--less {
    font-size: @fz-main;
    line-height: @lh-text;
  }

  &--grey {
    color: @text-dark;
    background-color: @bg-color;
    border: none;
  }

  &:hover {
    background-color: @bg-button-hvr;
  }

  &:active {
    color: fade(@text-light, 30%);
  }
}

@media (min-width: @tablet-width) {
  .button {
    &--less {
      padding: 16px 0;
      .link(@fz: 20px);
    }
  }
}
