.button {
  display: block;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  .ff-reg();
  .link();
  color: @text-light;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: @bg-button;
  border: 1px solid @bg-button;

  &--less {
    font-size: @fz-main;
    line-height: @lh-text;
  }

  &--grey {
    color: @text-dark;
    background-color: @bg-color;
    border: 1px solid @bg-color;
  }
}
