.catalog__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.catalog__item {
  margin-bottom: 20px;
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: @bg-color;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__subtitle {
  margin: 0;
  margin-bottom: 35px;
  padding-left: 90px;
  font-weight: normal;
  .title(@title: @fz-subtitle, @lh: @lh-titleLess);
  color: @title-dark;
  text-transform: uppercase;
}

.catalog__text {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 22px;
  padding-bottom: 20px;
  .ff-text();
  line-height: @lh-text;
  border-bottom: 1px solid @border-color;
}

.catalog__link {
  padding-left: 20px;
  .link(@lh: @lh-small);
  color: @title-dark;
  text-transform: uppercase;
  text-decoration: none;
}
