.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;

  &:hover {
    fill: @bg-button;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__title {
  .ff-text();
  .link(@lh: @lh-small);
  color: @text-dark;
}

.copyright__icon {
  fill: @icon-color;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 162px;
  }
}
