.copyright {
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover {
    .copyright__icon {
      fill: @bg-button;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__title {
  .ff-text();
  .link(@lh: @lh-small);
  color: @text-dark;
}

.copyright__icon {
  fill: @icon-color;
  margin-left: auto;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 162px;
  }

  .copyright__title {
    margin-right: -1px;
  }
}
