.example {
  width: @mobile-box;
  margin: 0 auto;
  background-color: @bg-color;
}

.example__title {
  margin-bottom: 23px;
}

.example__desc {
  margin: 0 0 24px 0;
  padding-right: 14px;
  .ff-text();
  line-height: @lh-text;
}

.example__sheets {
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .example {
    width: @tablet-box;
    background-color: @bg-light;
  }

  .example__title {
    margin-left: 2px;
    margin-bottom: 64px;
  }

  .example__desc {
    margin-bottom: 55px;
    padding-right: 16px;
    padding-left: 2px;
    .text(@fz: 16px, @lh: 24px);
  }

  .example__sheets {
    margin-bottom: 78px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    width: @desktop-box;
  }

  .example__title {
    margin-left: 0;
  }

  .example__wrapper {
    display: flex;
    padding: 82px 0 71px 0;
    background-color: @bg-color;
  }

  .example__item {
    width: 570px;
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }

  .example__desc {
    padding-right: 135px;
  }

  .example__sheets {
    margin-bottom: 0;
  }
}
