.example {
  box-sizing: border-box;
  width: 1300px;
  margin: 0 auto;
  padding-top: 17px;
  background-color: @bg-color;
}

.example__wrapper {
  margin-bottom: 34px;
}

.example__title {
  margin: 0 0 24px 20px;
}

.example__desc {
  margin: 0 20px 21px 20px;
  padding-right: 14px;
  .ff-text();
  line-height: @lh-text;
}

.example__sheets {
  margin-bottom: 30px;
}

.exapmple__photo {
  box-sizing: content-box;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .example {
    width: @tablet-box;
    background-color: @bg-light;
  }

  .example__title {
    margin-left: 0;
    margin-bottom: 64px;
  }

  .example__desc {
    margin: 0 0 49px 0;
    padding-right: 16px;
    .text(@fz: 16px, @lh: 24px);
  }

  .example__sheets {
    margin-bottom: 78px;
  }

  .exapmple__photo {
    width: 690px;
    height: 517px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    width: @desktop-box;
    padding-top: 16px;
  }

  .example__title {
    margin: 0 0 74px 0;
  }

  .example__wrapper {
    display: flex;
    margin-bottom: 0;
    padding: 72px 0 71px 0;
    background-color: @bg-color;
  }

  .example__item {
    flex-shrink: 0;
    width: 570px;

    &:last-child {
      margin-right: 0;
    }
  }

  .example__desc {
    margin-bottom: 64px;
    padding-right: 131px;
  }

  .example__sheets {
    margin-bottom: 0;
  }
}
