.example {
  background-color: @bg-color;
}

.example__title {
  margin-bottom: 35px;
}

.example__desc {
  margin: 0;
  margin-bottom: 24px;
  .ff-text();
  line-height: @lh-text;
}

.example__sheets {
  margin-bottom: 40px;
}
