.footer {
  background-color: @bg-color;
}

.footer__wrapper {
  width: @mobile-box;
  margin: 0 auto;
  padding: 40px 0 20px 0;
}

.footer__logo {
  display: block;
  margin-bottom: 29px;
  text-align: center;
}

.footer__logo-image {
  width: 128px;
  height: 24px;
}

.footer__copyright {
  padding-top: 21px;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    display: flex;
    align-items: center;
    width: @tablet-box;
    padding: 60px 0;
    padding-top: 57px;
  }

  .footer__logo {
    display: flex;
    align-items: center;
    width: 128px;
    height: 24px;
    margin-bottom: 0;
    margin-right: 156px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .footer__copyright {
    margin-left: 134px;
    padding-top: 0;
    margin-top: -1px;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    justify-content: space-between;
    width: @desktop-box;
    padding-top: 54px;
  }
}
