.gift {
  width: @mobile-box;
  min-height: 289px;
  background-color: @bg-button;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: @mobile-box auto;
  }
}

.gift__text {
  position: relative;
  margin: 0;
  padding: 187px 57px 0 57px;
  .ff-text();
  .link();
  color: @text-light;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 114px;
    width: 55px;
    height: 60px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .gift {
    width: @tablet-box;
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: @tablet-box auto;
    }
  }

  .gift__text {
    width: 165px;
    padding-top: 72px;
    padding-left: 423px;
    text-align: left;

    &::before {
      top: 65px;
      left: 91px;
    }
  }
}

@media (min-width: @desktop-width) {
  .gift {
    width: 245px;
    min-height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }

  .gift__text {
    padding: 189px 40px 0 40px;
    text-align: center;

    &::before {
      top: 67px;
      left: 96px;
    }
  }
}
