.gift {
  width: 280px;
  min-height: 289px;
  background-color: @bg-button;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.gift__text {
  padding: 185px 60px 0 60px;
  .ff-text();
  .link();
  color: @text-light;
  text-align: center;
}
