.map__header {
  display: flex;
  justify-content: space-between;
  width: @mobile-box;
  margin: 0 auto 25px auto;
  padding-top: 29px;
}

.map__title {
  margin: 0 18px 0 0;
  font-weight: normal;
  .link();
  color: @title-dark;
  text-transform: uppercase;
}

.map__text {
  .ff-text();
  font-style: normal;
  line-height: @lh-link;
}

.map__image {
  display: block;
  width: 320px;
  height: 362px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .map__header {
    width: @tablet-box;
    padding-right: 42px;
    padding-left: 42px;
  }

  .map__title {
    width: 192px;
    margin-right: 0;
    .title(@title: 20px, @lh: 25px);
  }

  .map__text {
    width: 192px;
    font-size: 16px;
  }

  .map__city {
    display: block;
    margin-top: 21px;
  }

  .map__image {
    height: 398px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    position: relative;
  }

  .map__header {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    padding: 64px 0 62px 0;
    background-color: @bg-light;
  }

  .map__title {
    width: 245px;
    padding: 0 40px 0 76px;
  }

  .map__text {
    width: 245px;
    padding: 0 90px 0 40px;
  }
}
