.map__header {
  margin-bottom: 25px;
}

.map__title {
  font-weight: normal;
  .link();
  color: @title-dark;
  text-transform: uppercase;
}

.map__text {
  .ff-text();
  font-style: normal;
  line-height: @lh-link;
}
