.map {
  background-color: @bg-color;

  &--light {
    background-color: @bg-light;
  }
}

.map__header {
  display: flex;
  justify-content: space-between;
  width: @mobile-box;
  margin: 0 auto 25px auto;
  padding-top: 30px;
}

.map__title {
  margin: 0 18px 0 0;
  font-weight: normal;
  .link();
  color: @title-dark;
  text-transform: uppercase;
}

.map__text {
  .ff-text();
  font-style: normal;
  line-height: @lh-link;
}

.map__image {
  display: block;
  width: 100%;
  height: 362px;
  margin: 0 auto;
}

.map__block {
  display: none;

  &--no-js {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .map__header {
    box-sizing: border-box;
    width: @tablet-box;
    margin-bottom: 57px;
    padding: 63px 42px 0 41px;
  }

  .map__title {
    width: 192px;
    margin-right: 0;
    padding-top: 2px;
    .title(@title: 20px, @lh: 25px);
  }

  .map__text {
    width: 192px;
    font-size: 16px;
    text-align: right;
  }

  .map__city {
    display: block;
    margin-top: 21px;
  }

  .map__image {
    height: 398px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    position: relative;
    margin: 0 auto;
  }

  .map__header {
    position: absolute;
    z-index: 10;
    top: 94px;
    left: 40px;
    width: 570px;
    padding: 62px 0 57px 0;
    background-color: @bg-light;
  }

  .map__title {
    width: 245px;
    padding: 2px 49px 0 76px;
  }

  .map__text {
    width: 245px;
    padding: 0 88px 0 45px;
    text-align: left;
  }

  .map__city {
    margin-top: 20px;
  }

  .map__image {
    height: 401px;
  }
}
