.product {
  width: @modile-width;
  margin: 0 auto;
  padding-top: 16px;
}

.product__main-title {
  margin: 0 0 29px 20px;
}

.product__list {
  margin: 0 0 28px 0;
  padding: 0;
  list-style: none;
}

.product__item {
  margin-top: -1px;
  padding: 0 20px 24px 20px;
  border: 1px solid @border-product;
}

.product__wrapper {
  display: flex;
}

.product__photo-image {
  display: block;
  height: 144px;
}

.product__photo,
.product__info {
  width: 140px;
}

.product__info {
  padding: 21px 0 19px 0;
}

.product__title {
  margin: 0 0 11px 0;
  padding-right: 65px;
  font-weight: normal;
  .link();
  color: @title-dark;
  text-transform: uppercase;
}

.product__sheet {
  width: 145px;
  .ff-text();
  .text();
}

.product__sheet-item {
  display: flex;
  justify-content: space-between;
}

.product__field,
.product__value {
  padding: 0;
}

@media (min-width: @tablet-width) {
  .product {
    width: @tablet-box;
    padding-top: 53px;
  }

  .product__main-title {
    margin: 0 0 167px 0;
  }

  .product__wrapper {
    flex-direction: column;
  }

  .product__info {
    box-sizing: border-box;
    width: 324px;
    padding: 37px 37px 31px 38px;
  }

  .product__photo {
    width: 324px;
  }

  .product__photo-image {
    height: 172px;
    width: 100%;
    margin: -47px auto 0 -2px;

    &--big {
      height: 208px;
      margin-top: -83px;
    }
  }

  .product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product__title {
    margin-bottom: 17px;
    padding: 0 45px;
    font-size: @fz-nav;
    text-align: center;
  }

  .product__item {
    box-sizing: border-box;
    width: 324px;
    margin-bottom: 141px;
    padding: 0 0 40px 0;
    background-color: @bg-color;

    &--last {
      margin-bottom: 0;
    }
  }

  .product__sheet {
    width: 252px;
    border-collapse: collapse;
    font-size: @fz-link;
  }

  .product__sheet-item {
    padding-right: 3px;
    border-bottom: 1px solid @border-table;
  }

  .product__field,
  .product__value {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .product__button {
    width: 249px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .product {
    width: @desktop-box;
    padding-top: 68px;
  }

  .product__item {
    width: 245px;
    margin-bottom: 143px;

    &--mb,
    &--last {
      margin-bottom: 0;
    }
  }

  .product__info {
    width: 245px;
  }

  .product__title {
    padding: 0 20px;
  }

  .product__photo {
    width: 245px;
  }

  .product__sheet {
    width: 174px;
  }

  .product__button {
    width: 169px;
  }
}
