.promo {
  background-color: @bg-colorpromo;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__title {
  padding-top: 25px;
}

.promo__slogan {
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @text-light;
  text-transform: uppercase;
}
