.slider {
  background-color: @bg-color;
}

.slider__photo {
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .slider__list {
    margin-top: 251px;
  }

  .slider__photo {
    margin: -169px 0 16px 16px;
  }

  .slider__toggles {
    padding-bottom: 67px;
  }
}

@media (min-width: @desktop-width) {
  .slider__list {
    margin-top: 0;
  }

  .slider__toggles {
    padding-bottom: 0;
  }
}
