.slider {
  background-color: @bg-color;
}

@media (min-width: @tablet-width) {
  .slider__list {
    margin-top: 169px;
  }

  .slider__toggles {
    padding-bottom: 71px;
  }
}

@media (min-width: @desktop-width) {
  .slider__list {
    margin-top: 0;
  }

  .slider__toggles {
    padding-bottom: 0;
  }
}
