.slider {
  background-color: @bg-color;
}

.slider__list {
  margin-top: 34px;
}

.slider__photo {
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .slider__list {
    margin-top: 255px;
  }

  .slider__photo {
    margin: -169px 0 17px 16px;
  }

  .slider__toggles {
    padding-bottom: 67px;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    width: 690px;
    background-color: transparent;
  }

  .slider__list {
    margin-top: 0;
  }

  .slider__toggles {
    padding-bottom: 0;
  }

  .slider__photo {
    margin: -261px 0 37px 0;
  }
}
