.social {
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
}

.social__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 135px;
  margin: 0 auto;
  padding: 22px 0 19px 0;
  list-style: none;
}

.social__item {
  margin-right: 38px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.social__icon {
  fill: @icon-color;

  &:hover {
    fill: @bg-button;
  }

  &:active {
    fill: fade(@bg-button, 30%);
  }
}

@media (min-width: @tablet-width) {
  .social {
    border: none;
  }

  .social__list {
    width: 126px;
    padding: 0;
  }

  .social__item {
    margin-right: 28px;
  }

  .social__icon {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--inst {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
