.stats {
  padding: 0 20px;
}

.stats tbody {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stats__item-food {
  margin: 0 auto;
  margin-top: 31px;
}

.stats__value {
  box-sizing: border-box;
  width: 123px;
  padding: 13px 16px 16px 12px;
  font-size: @fz-value;
  line-height: @lh-value;
  color: @title-dark;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid @border-table;
  border-radius: 2px;
}

.stats__field {
  position: absolute;
  top: 48px;
  box-sizing: border-box;
  width: 87px;
  padding: 0 10px;
  .ff-text();
  .text(@lh: 12px);
  text-align: center;
  background-color: @bg-color;

  &--right {
    right: 17px;
  }

  &--left {
    left: 15px;
  }
}

.stats__field-food,
.stats__value-food {
  padding: 0;
  line-height: @lh-link;
  color: @title-dark;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .stats {
    width: @tablet-box;
    padding: 0;
  }

  .stats tbody {
    margin-left: -4px;
  }

  .stats__item {
    &:first-child {
      margin-right: 37px;
    }
  }

  .stats__item-food {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 0 0 auto;
    padding-top: 13px;
  }

  .stats__value {
    width: 163px;
    padding-top: 14px;
    padding-bottom: 19px;
    .title(@title: 30px, @lh: 37px);
  }

  .stats__field {
    top: 65px;
    width: auto;
    .text(@fz: 14px, @lh: 14px);
    background-color: @bg-light;

    &--right {
      right: 348px;
    }

    &--left {
      left: 24px;
    }
  }

  .stats__field-food,
  .stats__value-food {
    .title(@title: 20px, @lh: 20px);
  }

  .stats__field-food {
    margin-bottom: 9px;
  }
}

@media (min-width: @desktop-width) {
  .stats {
    width: auto;
  }

  .stats tbody {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 380px;
  }

  .stats__item {
    &:first-child {
      margin-right: 38px;
    }
  }

  .stats__item-food {
    flex-direction: row;
    width: 100%;
    margin-left: 0;
    padding: 58px 0 0 2px;
  }

  .stats__field-food {
    margin: 0 64px 0 0;
  }

  .stats__value {
    width: 162px;
    padding-left: 17px;
  }

  .stats__field {
    padding-left: 9px;
    background-color: @bg-color;

    &--right {
      right: 20px;
    }

    &--left {
      left: 25px;
    }
  }
}
